<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="LatestVersionURL" value="http://projectk.cz.cc/MinecraftCL/LatestVersion.txt"/>
    <add key="VersionInformationURL" value="http://projectk.cz.cc/MinecraftCL/${version}/${version}.xml"/>
    <add key="VersionFolderURL" value="http://projectk.cz.cc/MinecraftCL/${version}/"/>
  </appSettings>
</configuration>